---
import fs from 'node:fs/promises';
import path from 'node:path';

const _path = './assets/background/';
const images = {
  landscapes: (await fs.readdir(path.resolve('./public/assets/background/landscapes'))).join('|||'),
  portraits: (await fs.readdir(path.resolve('./public/assets/background/portraits'))).join('|||')
} 
  
---
<style>
@media only screen and (max-width: 900px) {
  .background {
    background-size: cover;
  }
}
</style>
<div 
  class="background" 
  data-landscapes={images.landscapes} 
  data-portraits={images.portraits} 
  data-path={_path}
></div>
<script>
  const element = document.querySelector('.background');
  
  function parallaxEffect(e) {
    const width = window.innerWidth / 2;
    const height = window.innerHeight / 2;

    const mouse = { x: e.clientX, y: e.clientY };

    const depths = [
      `${50 - (mouse.x - width) * 0.06}% ${50 - (mouse.y - height) * 0.06}%`,
      `${50 - (mouse.x - width) * 0.02}% ${50 - (mouse.y - height) * 0.02}%`,
      `${50 - (mouse.x - width) * 0.01}% ${50 - (mouse.y - height) * 0.01}%`
    ];

    element.style.backgroundPosition = depths.join(', ');
  }

  function loadBackground() {

    const type = window.innerWidth > 900 ? 'landscapes' : 'portraits';
    const images = element.dataset[type].split('|||');
    const image = images[Math.floor(Math.random() * images.length)];
    const path = element.dataset.path + type;
    const fullPath = `${path}/${image}`;
    const lGradient = 'linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.9))';

    console.log(fullPath);
    element.style.background = `${lGradient}, url('${fullPath}')`;
    element.style.backgroundSize = '110vw 115vh';
    element.style.backgroundRepeat = 'no-repeat';
    element.style.backgroundPosition = 'center';
    element.style.width = '100vw';
    element.style.height = '100vh';
    element.style.position = 'relative';
    element.style.zIndex = '-1';
  }


  loadBackground();
  document.addEventListener('mousemove', parallaxEffect);
</script>

